<%= provide :title, t("home_page.title") %>
<div class="container-fluid py-3">
  <div class="row">
    <div class="col-12 col-sm-12 col-md-4 user-summary">
      <h2 class="p-2 mb-2 bg-primary text-white summary-title rounded"><%= t"home_page.Summary" %></h2>
      <div class="word-memmories"><%= t "home_page.Words_memorised" %>: 184</div>
      <div class="list-follower">
        <h4 class="title text-black my-2"><%= t "home_page.Follower" %></h4>
        <% if @supports.user_followers %>
          <% @supports.user_followers.each do |follower| %>
            <div class="d-inline-block user-follow-item">
              <div class="d-flex">
                <span class="avatar">
                  <img class="rounded-circle mx-2" src="https://via.placeholder.com/20x20">
                </span>
                <span class="name"><%= follower.name %></span>
              </div>
            </div>
          <% end %>
        <% end %>
      </div>
      <div class="list-followed">
        <h4 class="title text-black my-2"><%= t "home_page.Followed" %></h4>
        <% if @supports.user_followed %>
          <% @supports.user_followed.each do |followed| %>
          <div class="d-inline-block user-follow-item">
            <div class="d-flex">
              <span class="avatar">
                <img class="rounded-circle mx-2" src="https://via.placeholder.com/20x20">
              </span>
              <span class="name"><%= followed.name %></span>
            </div>
          </div>
          <% end %>
        <% end %>
      </div>
      <h2 class="p-2 my-2 bg-primary text-white summary-title rounded"><%= t"home_page.Activities" %></h2>
      <div class="acvities-wrap"></div>
    </div>
    <div class="col-12 col-sm-12 col-md-8 list-courses">
      <div class="row">
        <% @supports.list_courses.each do |course| %>
          <div class="card col-12 col-sm-6 col-md-4 py-2">
            <%= image_tag course.image, class: "card-img-top w-100" %>
            <div class="card-body p-0">
              <h5 class="card-title mt-2"><%= course.name %></h5>
              <p class="card-text"><%= course.description %></p>
              <div class="d-flex">
                <%= link_to t("home_page.Word_List"), learn_words_path(course.id), class: "btn btn-success mx-1 w-50" %>
                <%= link_to t("home_page.Start_Lesson"), do_lesson_path(course.id), class: "btn btn-success mx-1 w-50",
                  data:{ confirm: t("lesson.confirm_lesson")}%>
              </div>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
